*.pem
**/.pem
**/*/.pem

*.pub
**/.pub
**/*/.pub

*.tfstate
**/.tfstate
**/*/.tfstate

*.backup
**/.backup
**/*/.backup

.terraform
**/.terraform
**/*/.terraform

.DS_Store
**/.DS_Store
**/*/.DS_Store